body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  color: #555555;
}
main {
  margin: auto;
  width: 60%;
}

section, header {
  padding: 2rem;
  background-color:  #F6FFFE;
  margin-bottom: 4rem;
}

header {
  background-color: #9EEBCF;
}

h1, h2, h3 {
  color: #111111;
}

h2, h3 {
  padding-bottom: 1.2rem;
  border-bottom: solid 1px black;
}

code, pre{
  background-color: #9EEBCF;
}
